/* a.button {
    display: inline-block !important;
    padding: 5px 10px !important;
    background-color: #007bff !important;
    color: white !important;
    text-decoration: none !important;
    border-radius: 5px !important;
    font-size: 12px !important;
}

a.button:hover {
    background-color: #0056b3 !important;
} */

.navbar-toggler{
    border: 0;

}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border:0;
}
.navbar-icon{
    width: 30px;
    height: 30px;
    background: red !important;
    display: block;
    transition: all .2s;
}
/* a{
    color: #000000 !important;
}
a:hover{
    color: rgb(10, 168, 10) !important;
} */


.edit-button{
    background-color:transparent !important;
    padding:5%;
    font-size: 25px;
    color: #000000 !important;
    border: 1px solid !important;
    border-radius: 5px;
    transition: .5s ease-in-out;
}
.edit-button:hover{
    background: #000000 !important;
    color: #ffffff !important;
}