{% extends 'partial/base.html' %}

{% load static %}

{% block title %}
	About Us	
{% endblock title %}
	

{% block content %}	
	<!-- Start Hero Section -->
		<div class="hero">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5">
						<div class="intro-excerpt">
							<h1>About Us</h1>
							<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nesciunt soluta aliquam ad nisi tempore iste adipisci aperiam consequuntur. Doloremque.</p>
							<p><a href="{% url 'shop' %}" class="btn btn-secondary me-2">Shop Now</a>
								<!-- <a href="#" class="btn btn-white-outline">Explore</a> -->
							</p>
						</div>
					</div>
					<div class="col-lg-7">
						
					</div>
				</div>
			</div>
		</div>
	<!-- End Hero Section -->

	

	<!-- Start Why Choose Us Section -->
	<div class="why-choose-section">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-lg-6">
					<h2 class="section-title">Why Choose Us</h2>
						<!-- <p>We’re not just another furniture store — we’re your trusted partner in creating beautiful, comfortable spaces that truly feel like home. Here’s why thousands of happy customers choose us for their furniture needs:</p>
				
						<h5>1. Premium Quality Furniture</h5>
						<p>From cozy corners to modern workspaces, our handpicked collection offers stylish, durable, and high-quality furniture designed to elevate every space.</p>
				
						<h5>2. Seamless Online Shopping Experience</h5>
						<p>Enjoy a smooth, secure, and user-friendly shopping journey — browse, select, and order your favorite pieces from the comfort of your home with just a few clicks.</p>
				
						<h5>3. Fast & Reliable Delivery</h5>
						<p>We deliver across multiple locations with care and speed — ensuring your furniture arrives safely, on time, and ready to transform your space.</p>
				
						<h5>4. Customization Options</h5>
						<p>Make it yours! Personalize select furniture pieces to match your unique style, size preferences, and design needs.</p>
				
						<h5>5. Affordable Prices & Exciting Deals</h5>
						<p>Style meets savings — discover competitive pricing, exclusive offers, and exciting deals all year round.</p>
				
						<h5>6. Exceptional Customer Support</h5>
						<p>We’re here for you every step of the way. Our friendly support team is always ready to assist — from product selection to after-sales service.</p>
				
						<h5>7. Easy Returns & Warranty Protection</h5>
						<p>Shop with confidence! We offer hassle-free returns and warranty coverage on selected products, ensuring peace of mind with every purchase.</p>
						 -->
						<p>
							At Your Place, we blend the enduring strength of steel with the timeless elegance of natural wood to create exceptional furniture that is both functional and beautiful. Every piece is thoughtfully designed and meticulously crafted in Nepal, reflecting our dedication to quality, craftsmanship, and style.
							
						</p>
					<hr>
					<div class="row my-5">
						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<img src='{% static "images/truck.svg" %}' alt="Image" class="imf-fluid">
								</div>
								<h3>Fast &amp; Free Shipping</h3>
								<p> We know waiting isn’t fun — that’s why we offer fast and free shipping on every order. No extra costs, no long waits. Just happy deliveries! </p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<img src="{% static 'images/bag.svg' %}" alt="Image" class="imf-fluid">
								</div>
								<h3>Easy to Shop</h3>
								<p>We’ve made shopping super simple for you. Easy browsing, smooth checkout, and quick support — so you can find what you love without any hassle.</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<img src="{% static 'images/support.svg' %}" alt="Image" class="imf-fluid">
								</div>
								<h3>24/7 Support</h3>
								<p>We’re always here for you — anytime, anywhere. Friendly support ready to help, 24/7.</p>
							</div>
						</div>

						<!-- <div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<img src="images/return.svg" alt="Image" class="imf-fluid">
								</div>
								<h3>Hassle Free Returns</h3>
								<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
							</div>
						</div> -->

					</div>
				</div>

				<div class="col-lg-5">
					<div class="img-wrap">
						<img src="{% static 'images/about-images.jpg' %}" alt="Image" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Why Choose Us Section -->

	{% comment %}
	<!-- Start Team Section -->
	<div class="untree_co-section">
		<div class="container">

			<div class="row mb-5">
				<div class="col-lg-5 mx-auto text-center">
					<h2 class="section-title">Our Team</h2>
				</div>
			</div>

			<div class="row">

				<!-- Start Column 1 -->
				<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
					<img src="images/person_1.jpg" class="img-fluid mb-5">
					<h3 clas><a href="#"><span class="">Lawson</span> Arnold</a></h3>
		<span class="d-block position mb-4">CEO, Founder, Atty.</span>
		<p>Separated they live in.
		Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
		<p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
				</div> 
				<!-- End Column 1 -->

				<!-- Start Column 2 -->
				<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
					<img src="images/person_2.jpg" class="img-fluid mb-5">

					<h3 clas><a href="#"><span class="">Jeremy</span> Walker</a></h3>
		<span class="d-block position mb-4">CEO, Founder, Atty.</span>
		<p>Separated they live in.
		Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
		<p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>

				</div> 
				<!-- End Column 2 -->

				<!-- Start Column 3 -->
				<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
					<img src="images/person_3.jpg" class="img-fluid mb-5">
					<h3 clas><a href="#"><span class="">Patrik</span> White</a></h3>
		<span class="d-block position mb-4">CEO, Founder, Atty.</span>
		<p>Separated they live in.
		Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
		<p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
				</div> 
				<!-- End Column 3 -->

				<!-- Start Column 4 -->
				<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
					<img src="images/person_4.jpg" class="img-fluid mb-5">

					<h3 clas><a href="#"><span class="">Kathryn</span> Ryan</a></h3>
		<span class="d-block position mb-4">CEO, Founder, Atty.</span>
		<p>Separated they live in.
		Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
		<p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>

		
				</div> 
				<!-- End Column 4 -->

				

			</div>
		</div>
	</div>
	End Team Section 
	
		
	{% endcomment %}
		

	

 {% comment %}
	<!-- Start Testimonial Slider -->
	<div class="testimonial-section before-footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 mx-auto text-center">
					<h2 class="section-title">Testimonials</h2>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="testimonial-slider-wrap text-center">

						<div id="testimonial-nav">
							<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
							<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
						</div>

						<div class="testimonial-slider">
							
							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">

										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis volutpat dui quis scelerisque.&rdquo;</p>
											</blockquote>

											<div class="author-info">
												<div class="author-pic">
													<img src="images/person-1.png" alt="Maria Jones" class="img-fluid">
												</div>
												<h3 class="font-weight-bold">Maria Jones</h3>
												<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
											</div>
										</div>

									</div>
								</div>
							</div> 
							<!-- END item -->

							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">

										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis volutpat dui quis scelerisque.&rdquo;</p>
											</blockquote>

											<div class="author-info">
												<div class="author-pic">
													<img src="images/person-1.png" alt="Maria Jones" class="img-fluid">
												</div>
												<h3 class="font-weight-bold">Maria Jones</h3>
												<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
											</div>
										</div>

									</div>
								</div>
							</div> 
							<!-- END item -->

							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">

										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis volutpat dui quis scelerisque.&rdquo;</p>
											</blockquote>

											<div class="author-info">
												<div class="author-pic">
													<img src="images/person-1.png" alt="Maria Jones" class="img-fluid">
												</div>
												<h3 class="font-weight-bold">Maria Jones</h3>
												<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
											</div>
										</div>

									</div>
								</div>
							</div> 
							<!-- END item -->

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Testimonial Slider -->	
	 {% endcomment %}
		

	{% endblock content %}
