{% extends 'partial/base.html' %}

{% load static %}

{% block title %}
	Shop
{% endblock title %}
	

{% block content %}
		

	<!-- Start Hero Section -->
		<div class="hero">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5">
						<div class="intro-excerpt">
							<h1>Shop</h1>
						</div>
					</div>
					<div class="col-lg-7">
						
					</div>
				</div>
			</div>
		</div>
	<!-- End Hero Section -->

	

	<div class="untree_co-section product-section before-footer-section">
		<div class="container">
			<div class="row">
			
			{% if product %}	
			{% for view_prod in product %}
								
			<!-- Start Column 1 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 py-5" data-aos="fade-up" >
				<a class="product-item" href="{% url 'orderdetail' view_prod.slug %}">
					<img src=" {{view_prod.product_images.url}} " style="height: 250px !important;" class="img-fluid product-thumbnail">
					<h3 class="product-title"> {{view_prod.product_name}} </h3>
					<strong class="product-price">NRs. {{view_prod.selling_price | floatformat:"g"}} </strong>

					<span class="icon-cross">
						<img src="{% static 'images/fast-delivery.png' %}" class="img-fluid">
					</span>
				</a>
			</div> 
			<!-- End Column 1 -->
			{% endfor %}
			{% else %}
				<h1>No Products Found</h1>
			{% endif %}
			

			</div>
		</div>
	</div>

{% endblock content %}
